{% extends "base.html" %}
{% block title %}   PERSONAL TRACK   {% endblock %}
{% block content %}
<div>
<h1>PERSONAL TRACK</h1>

<!--list of items-->

<div class="card" style="padding:5 px;margin: 10px">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>

<!--end of list of itenms-->
{% endblock %}